:root{
    --mainFont: "Open Sans", sans-serif;
    --primaryColor: #ff206e;
}

body{
    font-family: var(--mainFont);
}

.text-primaryColor{
    color: var(--primaryColor);
}

/* navbar starts */

.navbar{
    position: fixed;
}

nav .navbar-nav a, nav .navbar-nav .nav-link.active{
    color: #fff;
    transition-property: color;
    transition-delay: .5ms;
}

nav .navbar-nav .nav-link.active:hover{
    color: var(--primaryColor);
}

nav .navbar-nav a:hover{
    color: var(--primaryColor);
}

/* navbar ends */

/* hero starts */

.hero{
    height: 100vh;
    background-image: url('./../img/bg.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}

.hero h1{
    font-size: 48px;
    font-weight: 800;
}

.hero h2{
    font-size: 16px;
    font-weight: 400;
}

.hero .logo{
    margin-top: -50px;
}

.hero .logo .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(34, 34, 34);
    color: #fff;
    width: 36px;
    height: 36px;
    transition: .5s;
}

.hero .logo .icon:hover{
    border: 1px solid #fff;
}

/* hero ends */

/* About starts */

.about .about-header h2{
    font-size: 40px;
    font-weight: 800;
}

.about .about-header p{
    font-size: 14px;
    font-weight: 400; 
}

.about .about-content h3{
    font-size: 24px;
    font-weight: 600;
}

.about .about-content h4{
    font-size: 16px;
    font-weight: 600;
}

.about .about-content p{
    font-size: 16px;
    font-weight: 400;
}

.about .about-content span{
    font-size: 16px;
    font-weight: 400;
}

.about .about-content a{
    font-size: 16px;
    font-weight: 600;
}

/* About ends */

/* About responsive starts */

@media screen and (max-width: 992px){

    .about .about-content p{
        font-size: 14px;
        font-weight: 400;
    }   

}

/* About responsive ends */

/* portfolio starts */

.portfolio .portfolio-title h2{
    font-size: 40px;
    font-weight: 800;
}

.portfolio .portfolio-title p{
    font-size: 14px;
    font-weight: 400; 
}

.portfolio .nav-tabs{
    border-bottom: none;
}

.nav-tabs .nav-link{
    border: none;
}

.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.nav-link:hover{
    color: var(--primaryColor);
}

.nav-tabs .nav-link.active{
    color: var(--primaryColor);
}

/* portfolio ends */

/* testimonials starts */

.testimonials .testimonials-title h2{
    font-size: 40px;
    font-weight: 800;
}

.testimonials .testimonials-title p{
    font-size: 14px;
    font-weight: 400; 
    margin-bottom: 100px;
}

.carousel-inner{
    overflow: visible;
}

.testimonials .item-content{
    border: solid 1px rgb(245, 245, 245);
    position: relative;
    overflow: visible;
    padding-top: 55px;
}

.testimonials .item-content img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -47px;
    margin: auto;
    z-index: 3;
}

.testimonials .item-content h3{
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.testimonials .item-content h4{
    font-size: 12px;
    font-weight: 600;
    color: RGB(85, 85, 85);
}

.testimonials .item-content h3::after{
    content: '';
    background-color: var(--primaryColor);
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50px;
    left: 30px;
}

.testimonials .item-content .senior-dsigner::after{
    content: '';
    background-color: var(--primaryColor);
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50px;
    left: 22px;
}

.testimonials .item-content p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}

.testimonials .carousel-indicators{
    bottom: -60px;
}

.testimonials .carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--primaryColor);
}

/* testimonials ends */