:root{
    --mainFont: "Open Sans", sans-serif;
    --primaryColor: #ff206e;
}

body{
    font-family: var(--mainFont);
}

.text-primaryColor{
    color: var(--primaryColor);
}

/* navbar starts */

.navbar{
    position: fixed;
}

nav .navbar-nav a, nav .navbar-nav .nav-link.active{
    color: #fff;
    transition-property: color;
    transition-delay: .5ms;
}

nav .navbar-nav .nav-link.active:hover{
    color: var(--primaryColor);
}

nav .navbar-nav a:hover{
    color: var(--primaryColor);
}

/* navbar ends */

/* hero starts */

.hero{
    height: 100vh;
    background-image: url('./../img/bg.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}

.hero h1{
    font-size: 48px;
    font-weight: 800;
}

.hero h2{
    font-size: 16px;
    font-weight: 400;
}

.hero .logo{
    margin-top: -50px;
}

.hero .logo .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(34, 34, 34);
    color: #fff;
    width: 36px;
    height: 36px;
    transition: .5s;
}

.hero .logo .icon:hover{
    border: 1px solid #fff;
}

/* hero ends */

/* About starts */

.about .about-header h2{
    font-size: 40px;
    font-weight: 800;
}

.about .about-header p{
    font-size: 14px;
    font-weight: 400; 
}

.about .about-content h3{
    font-size: 24px;
    font-weight: 600;
}

.about .about-content h4{
    font-size: 16px;
    font-weight: 600;
}

.about .about-content p{
    font-size: 16px;
    font-weight: 400;
}

.about .about-content span{
    font-size: 16px;
    font-weight: 400;
}

.about .about-content a{
    font-size: 16px;
    font-weight: 600;
}

/* About ends */